name: Django CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          python -m pip install -U pip
          pip install -r requirements.txt

      - name: Run tests
        env:
          ELEVEN_API_KEY: "sk_d460d7b3a7e7cefec0555b4626c26d243465552805c47eeb"
          ELEVEN_VOICE_ID: "21m00Tcm4TlvDq8ikWAM"
          ELEVEN_MODEL_ID: "eleven_multilingual_v2"
        run: |
          python manage.py test
